body{
	background-color:#D6DCBC;
}
.top-system{
	width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.top1-system{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}
.bottom-system{
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}
.bottom-system1{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}
.by input {
	width: 370px;
	padding-left: 20px;
}
.bottom-Ok{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}	
.bottom-Ok input{
	width: 80px;
	height: 40px;
	border-radius: 7px;
}
h1{
	color: white;
}
input{
	height: 25px;
	border: solid 1px white;
}
.bottom-system1 input{
	padding-left: 20px;
	margin-left: 20px;
	padding-right: -40px;
}
i{
	color: white;
	font-size: 20px;
}
img{
	border-radius: 6px;
	width: 90%;
	height: 20%;
}