body{
	background-color: darkblue;
}

div{
	display: inline-block;
}
img{
	margin-top: 40px;
    width: 450px;
}
#bosh{
	background-color: white;
	border-radius: 20px;
	width:70%;
	margin-right: 20%;
	margin-left: 20%;
	text-transform: uppercase;
}
#pa{
	color: blue;
}
#katta{
	font-size: 35px;
}
#ca{
	color: blue;
	font-size: 30px;
}
input{
	background-color:blue;
	width: 300px;
	height: 50px;
	margin-top: 30px;
	margin-right: 800px;
	font-size: 30px;
	border-radius: 10px;
}
#lorem{
	margin-bottom: 40px;
	text-transform: lowercase;
}
#text{
	height: 200px;
	margin-left: 70px;
}
.left-side{
	width: 60%;
	display: inline-block;

}
.right-side{
	width: 30%;
	display: inline-block;
}
li a{
	text-decoration: none;
	display: inline-block;
}
li{
	border: 1px solid blue;
	padding: 3px;
	margin-right: 2px;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;

}
